<div class="container">          
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Admission Number</th>
      </tr>
    </thead>
    <tbody>
      {{#each student}}
      <tr>
        <td>{{name}}</td>
        <td>{{adm_no}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>


